{% extends 'base.html' %}

{% block title %}База данных о еде{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="d-flex align-items-center mb-4">
                    <h1>Моя база данных о еде</h1>
                    <a href="{% url 'my_food_create' %}" class="btn btn-success ms-3 p-1 rounded-circle"
                        style="width: 35px; height: 35px;">
                        <i class="bi bi-plus"></i>
                    </a>
                </div>
            </div>

            <div class="col-12">
                {% if food.count > 0 %}
                <ul class="list-group list-group-flush">
                    {% for item in food %}
                        <li class="list-group-item d-flex jistify-content-between align-items-center">
                            <h6 class="m-0">{{item.title}}</h6>
                            <span class="ms-2 fs-6 text-muted">{{ item.calories }}ккал/100гр</span>
                            <div class="d-flex ms-auto">
                                <a href="#" class="btn btn-primary">Изменить</a>
                                <a href="{% url 'my_food_delete' item.id %}" class="btn btn-danger ms-1">Удалить</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>В вашей базе нет данных о еде.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}