{% extends 'base.html' %}

{% block title %}День {{ day.date|date:"j E" }}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="d-flex align-items-center mb-4">
                    <h1>{{ day.date|date:"j E" }}</h1>
                    <button title="Добавить прием пищи" data-bs-target="#mealModal" data-bs-toggle="modal" class="btn btn-success ms-3 p-1 rounded-circle"
                        style="width: 35px; height: 35px;">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>

            <div class="col-12">
                {% if day.meals.count < 1 %}
                    <p>В этом дне пока отсутствуют приемы пищи</p>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="mealModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить прием пищи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="." method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{field.auto_id}}" class="form-label">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success ms-auto d-block">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}