{% extends 'base.html' %}

{% block title %}День {{ day.date|date:"j E" }}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="d-flex align-items-center mb-4">
                    <h1>{{ day.date|date:"j E" }}</h1>
                    <button title="Добавить прием пищи" data-bs-target="#mealModal" data-bs-toggle="modal" class="btn btn-success ms-3 p-1 rounded-circle"
                        style="width: 35px; height: 35px;">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>

            <div class="col-12">
                {% if day.meals.count < 1 %}
                    <p>В этом дне пока отсутствуют приемы пищи</p>
                {% else %}
                <ul class="list-group list-group-flush">
                    {% for meal in meals %}
                        <li 
                            class="list-group-item d-flex align-items-center"
                            data-meal-id="{{meal.id}}"
                        >
                            <h6 class="mb-0">{{forloop.counter}}.</h6>
                            <p class="mb-0 ms-3">Время приема пищи: {{meal.time}}</p>
                            <p class="mb-0 ms-3 text-muted"> ккал.</p>
                            <a href="#" class="btn btn-warning ms-auto show-meal-info" data-target="#mealInfo">
                                Посмотреть
                            </a>
                            <a href="{% url 'update_meal' meal.id %}" class="btn btn-primary ms-1">
                                Изменить
                            </a>
                            <a href="{% url 'delete_meal' day.id meal.id %}" class="btn btn-danger ms-1">Удалить</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="mealModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить прием пищи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_meal' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="day" value="{{day.id}}">
                    <div class="mb-3">
                        <label for="{{form.time.auto_id}}" class="form-label">{{form.time.label}}</label>
                        {{form.time}}
                    </div>
                    <button type="submit" class="btn btn-success ms-auto d-block">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mealInfo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация о приеме пищи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger ms-auto" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_scripts_after %}
<script>
    window.onload = () => {

        const showInfoBtn = document.querySelector('.show-meal-info')
        const infoModal = document.querySelector('#mealInfo')
        const infoModalBody = infoModal.querySelector('.modal-body')
        const bootstrapObjectModal = new bootstrap.Modal(infoModal)

        showInfoBtn.onclick = function(e) {
            e.preventDefault()
            
            const mealId = this.closest('li').getAttribute('data-meal-id')

            fetch(`/get-meal-info/${mealId}/`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => res.json())
                .then(data => {
                    data = data.data
                    infoModalBody.innerHTML = ''

                    data.forEach(item => {
                        const paragraph = document.createElement('p')
                        paragraph.innerHTML = `${item.food_title} ${item.grams}гр. (${item.food_calories} ккал./100гр.) <span class="d-block">Итого: <b>${item.calories} ккал.</b></span>`
                        infoModalBody.appendChild(paragraph)
                    })

                    bootstrapObjectModal.show()
                })
        }
    }
</script>
{% endblock %}